In [14]:
import datetime
import random
import pandas as pd

# navigate to the Features folder
import sys
sys.path.append(sys.path[0]+'/../Features') # .. instead of . because we're in the Jupyter Tools folder

# import features
import helper

In [15]:
# read in the main data
main_df = pd.read_csv('../Data/Test Data/Samples.csv')

main_df.head()

,Unique ID,Description,Category,Amount,Date,Account,Third Party
0,1676269022665425,Randomly generated expenses for Uncategorized,Uncategorized,714,2018-12-14,Amex Blue Cash Preferred,NaN
1,1676269022684482,Randomly generated expenses for Pet,Pet,519,2021-05-18,Discover It,NaN
2,1676269022670686,Randomly generated expenses for Health and Fit...,Health and Fitness,168,2019-08-23,Chase Freedom Flex,NaN
3,1676269022639549,Randomly generated expenses for Education,Education,288,2015-11-16,Chase Freedom Flex,NaN
4,1676269022635054,Randomly generated expenses for Clothing,Clothing,951,2015-05-12,Discover It,NaN

In [16]:
# sort the main_df by date in descending order
main_df = main_df.sort_values(by = ['Date'], ascending = False)

main_df

,Unique ID,Description,Category,Amount,Date,Account,Third Party
11,1676269022688996,Randomly generated expenses for Transportation,Transportation,12,2021-12-28,Capital One Savor,Justine
14,1676269022687789,Randomly generated expenses for Food and Dining,Food and Dining,745,2021-10-23,Discover It,NaN
1,1676269022684482,Randomly generated expenses for Pet,Pet,519,2021-05-18,Discover It,NaN
12,1676269022671634,Randomly generated expenses for Shopping,Shopping,814,2019-10-09,Discover It,NaN
9,1676269022670847,Randomly generated expenses for Home,Home,710,2019-08-30,Amex Blue Cash Preferred,NaN
2,1676269022670686,Randomly generated expenses for Health and Fit...,Health and Fitness,168,2019-08-23,Chase Freedom Flex,NaN
7,1676269022666473,Randomly generated expenses for Business Services,Business Services,621,2019-02-01,Discover It,NaN
0,1676269022665425,Randomly generated expenses for Uncategorized,Uncategorized,714,2018-12-14,Amex Blue Cash Preferred,NaN
5,1676269022661737,Randomly generated expenses for Food and Dining,Food and Dining,542,2018-06-12,Capital One Savor,Ronald
13,1676269022652734,Randomly generated expenses for Food and Dining,Food and Dining,153,2017-04-21,Amex Blue Cash Preferred,NaN
8,1676269022646494,Randomly generated expenses for Transportation,Transportation,844,2016-06-24,Discover It,Justine
10,1676269022646341,Randomly generated expenses for Shopping,Shopping,83,2016-06-15,Schwab Investor Card,NaN
3,1676269022639549,Randomly generated expenses for Education,Education,288,2015-11-16,Chase Freedom Flex,NaN
6,1676269022636861,Randomly generated expenses for Health and Fit...,Health and Fitness,259,2015-07-30,Chase Freedom Flex,NaN
4,1676269022635054,Randomly generated expenses for Clothing,Clothing,951,2015-05-12,Discover It,NaN

In [17]:
# reset the index of main_df
main_df = main_df.reset_index(drop = True)

main_df

,Unique ID,Description,Category,Amount,Date,Account,Third Party
0,1676269022688996,Randomly generated expenses for Transportation,Transportation,12,2021-12-28,Capital One Savor,Justine
1,1676269022687789,Randomly generated expenses for Food and Dining,Food and Dining,745,2021-10-23,Discover It,NaN
2,1676269022684482,Randomly generated expenses for Pet,Pet,519,2021-05-18,Discover It,NaN
3,1676269022671634,Randomly generated expenses for Shopping,Shopping,814,2019-10-09,Discover It,NaN
4,1676269022670847,Randomly generated expenses for Home,Home,710,2019-08-30,Amex Blue Cash Preferred,NaN
5,1676269022670686,Randomly generated expenses for Health and Fit...,Health and Fitness,168,2019-08-23,Chase Freedom Flex,NaN
6,1676269022666473,Randomly generated expenses for Business Services,Business Services,621,2019-02-01,Discover It,NaN
7,1676269022665425,Randomly generated expenses for Uncategorized,Uncategorized,714,2018-12-14,Amex Blue Cash Preferred,NaN
8,1676269022661737,Randomly generated expenses for Food and Dining,Food and Dining,542,2018-06-12,Capital One Savor,Ronald
9,1676269022652734,Randomly generated expenses for Food and Dining,Food and Dining,153,2017-04-21,Amex Blue Cash Preferred,NaN
10,1676269022646494,Randomly generated expenses for Transportation,Transportation,844,2016-06-24,Discover It,Justine
11,1676269022646341,Randomly generated expenses for Shopping,Shopping,83,2016-06-15,Schwab Investor Card,NaN
12,1676269022639549,Randomly generated expenses for Education,Education,288,2015-11-16,Chase Freedom Flex,NaN
13,1676269022636861,Randomly generated expenses for Health and Fit...,Health and Fitness,259,2015-07-30,Chase Freedom Flex,NaN
14,1676269022635054,Randomly generated expenses for Clothing,Clothing,951,2015-05-12,Discover It,NaN